<div class="appetizers">
  <h1>Appetizers</h1>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("avocado-basil-close-up-1143754", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">19.5</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("appetizer-chicken-chicken-dippers-1059943", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">16.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("appetizer-asian-food-chili-1234535", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">15.25</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("chicken-close-up-crispy-60616", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">9.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("appetizing-bread-close-up-357573", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">12</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("almonds-berries-bread-knife-2113556", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">10.25</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("bread-delicious-egg-704569", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">16</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

  </div>
</div>
