<div class="drinks">
  <h1>Drinks</h1>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("alcohol-beach-beer-1727829", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">10.5</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("alcoholic-beverage-bar-berry-2110923", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">16.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("alcoholic-beverage-beverage-citrus-1232152", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">12</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("beverage-close-up-cocktail-2103945", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">9.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("bar-beverage-cocktail-109275", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">9.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>
  </div>
</div>
