<div class="entrees">
  <h1>Entrees</h1>
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("asian-food-bowl-cuisine-699953", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">10.5</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("basil-carrot-cuisine-1001773", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">16.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("bivalve-clam-crustacean-921374", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">12</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("chicken-cuisine-delicious-792027", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">15.25</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("chopsticks-cuisine-dinner-46247", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">9.75</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("cuisine-delicious-dinner-1998920", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">14</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to image_tag("close-up-dinner-food-162993", alt: "ThaiNako_logo", :class => "img-fluid img-thumbnail"), '#', :class => 'gallery__image d-block'  %>
      <div class="food header">
        <figcaption class="food title">Food Name</figcaption>
        <label class="food price">20.25</label>
      </div>
      <p class="food description">A typical Thai meal includes four main seasonings: salty, sweet, sour, and spicy. Indeed, most Thai dishes are not considered satisfying unless they combine all four tastes. When eating out, a group of Thai diners would order a variety of meat and/or fish dishes, plus vegetables, a noodle dish, and possibly soup.</p>
    </div>

  </div>
</div>
